* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	padding-top: 3rem;
}

#container-overflow-hidden {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

header {
	width: 100%;
	height: 28rem;
	text-align: center;
	padding-top: 3rem;
	box-sizing: border-box;
	position: relative;
}

h1 {
	font-size: 16rem;
	font-family: SilverBellyButton;
	color: #4c597a;
	opacity: 0;
	animation: appearing-top;
	animation-duration: 1s;
	/*animation-delay: 0.5s;*/
	animation-fill-mode: forwards;
}

@keyframes appearing-top {
	0% {
		opacity: 0;
		transform: translateY(-75px);
	}
	
	100% {
		opacity: 1;
	}
}

h2 {
	font-size: 2.4rem;
	color: #4c597a;
	margin: 2rem auto 2rem auto;
	opacity: 0;
	animation: appearing-bottom;
	animation-duration: 1s;
	/*animation-delay: 0.5s;*/
	animation-fill-mode: forwards;
	z-index: 2;
	position: absolute;
	top: 22rem;
	left: 47%;
	color: grey;
}

@keyframes appearing-bottom {
	0% {
		opacity: 0;
		transform: translateY(75px);
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes textshadow {
	100% {
		text-shadow: 0px 0px 13px #CE5937;
	}
}

ul {
	list-style: none;
	display: flex;
	width: 90%;
	height: 5rem;
	margin: 0 auto 3rem auto;
}

li:nth-child(1) {
	color: #4c597a;
}

li {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-weight: bold;
	font-style: italic;
	-webkit-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-radius: 10px;
}

li:hover {
    color: #4c597a;
    font-style: italic;
    cursor: pointer;
}

main {
	width: 90%;
	min-height: 100vh;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 8rem;
	padding-bottom: 8rem;
	position: relative;
}

h3 {
	width: 80%;
	margin: 0 auto;
	font-size: 5rem;
	border-top: 1px solid grey;
	padding-top: 3rem;
	text-align: center;
	font-weight: normal;
}

main > p:nth-child(2) {
	color: #4c597a;
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
	margin: 3.5rem 0 9rem 0;
}

section {
	width: 80%;
	box-sizing: border-box;
	padding: 0 2rem 8rem 2rem;
	margin: 0 auto;
}

.italic {
	font-style: italic;
	text-align: center;
	font-size: 2.7rem;
	margin-bottom: 12rem;
}

.strong {
	font-weight: bold;
	text-align: center;
	font-size: 2.7rem;
	margin-bottom: 12rem;
	color: white;
	position: relative;
	width: 100%;
}

.colorchange {
	animation: colorchange 3s forwards;
	animation-delay: 1.5s;
}

@keyframes colorchange {
	100% {
		color: black;
	}
}

.bgone {                      /*tło jednokolorowe, które przechodzi w prawo i ustępuje miejsca dla tła jpg*/
	display: block;
	position: absolute;
	top: -5rem;
	bottom: -5rem;
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	margin-left: -50vw;
	left: 50%;
	background-color: #5a5a5a;
	z-index: -10;
}

.totheright {
	animation: totheright 1.5s forwards;
	animation-delay: 1s;
}

@keyframes totheright {
	100% {
		transform: translateX(100%);
	}
}

.bgtwo {
	display: block;
	position: absolute;
	top: -5rem;
	bottom: -5rem;
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	margin-left: -50vw;
	left: 50%;
	background-image: url("bgtext.jpg");
	background-size: cover;
	transform: translateX(-100%);
	z-index: -9;
	opacity: 0.3;
}

.fromleft {
	animation: fromleft 1.5s forwards;
	animation-delay: 1s;
}

@keyframes fromleft {
	100% {
		transform: translateX(0);
	}
}

section p:nth-child(3) {
	text-align: center;
	font-size: 2.7rem;
	margin-bottom: 7rem;
}

#circles {
	height: 32rem;
	width: 100vw;
	margin-left: -50vw;
	left: 50%;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 7rem;
}

#circles::before {
	content: "";
	position: absolute;
	inset: 0;
	background-image: url("haircut.jpg");
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.4;
	z-index: 5;
}

.circle {
	width: 25rem;
	height: 25rem;
	background-color: black;
	border-radius: 12.5rem;
	transform: scale(0.01);
	visibility: hidden;
}

.circle-animation {
	animation: pop-up 0.7s ease-out forwards;
}

.circle:nth-of-type(2) {
	animation-delay: 0.3s
}

.circle:nth-of-type(3) {
	animation-delay: 0.6s
}

.circle > div {
	height: 15rem;
	width: 25rem;
	background-color: white;
	margin-top: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	font-weight: bold;
}

@keyframes pop-up {
	1% {
		visibility: visible;
	}
	
	80% {
		transform: scale(1.2);
	}
	
	100% {
		transform: scale(1);
		visibility: visible;
	}
}

section p:nth-child(5) {
	text-align: left;
	color: red;
	font-weight: bold;
	font-size: 2.7rem;
	display: inline-block;
	padding-top: 2rem;
	margin-bottom: 20rem;
	opacity: 0;
}

.animation {
	animation: animation-element 2s forwards;
	animation-delay: 1s;
}

@keyframes animation-element {
	100% {
		opacity: 1;
	}
}

section img {
	width: 32.8rem;
	height: 31.2rem;
	position: absolute;
	right: 20rem;
	-webkit-box-shadow: 1px 2px 15px 3px #000000; 
	box-shadow: 1px 2px 15px 3px #000000;
	z-index: 2;
}

section #border {
	width: 32.8rem;
	height: 31.2rem;
	border: 5px solid #4c597a;
	position: absolute;
	right: 22rem;
	bottom: 6rem;
}

footer {
	width: 100%;
	text-align: center;
	font-size: 5rem;
	margin-top: 8rem;
	padding-bottom: 3rem;
	opacity: 0.8;
}

footer span:hover {
	display: block;
	transition-duration: 2s;
	cursor: pointer;
	transform: translateY(-1.5rem);
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }
 
@media (min-width: 320px) and (max-width: 480px) {
	html {
		font-size: 32%;
	}
	
	h1 {
		font-size: 15rem;
	}
	
	h2 {
		top: 21rem;
		left: 43%;
	}
	
	#circles::before {
		background-attachment: scroll;
	}
	
	.circle {
		width: 15rem;
		height: 15rem;
		border-radius: 7.5rem;
	}
	
	.circle > div {
		height: 5rem;
		width: 15rem;
		font-size: 2rem;
	}
	
	section p:nth-child(5) {
		display: block;
		text-align: center;
	}
	
	section img {
		width: 29.8rem;
		height: 28.2rem;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom: 2.5rem;
	}
	
	section #border {
		display: none;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	html {
		font-size: 40%;
	}
	
	#circles::before {
		background-attachment: scroll;
	}
	
	.circle {
		width: 18rem;
		height: 18rem;
		border-radius: 9rem;
	}
	
	.circle > div {
		height: 8rem;
		width: 18rem;
		font-size: 2.5rem;
	}
	
	section p:nth-child(5) {
		display: block;
		text-align: center;
	}
	
	section img {
		bottom: 0rem;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	
	section #border {
		display: none;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
		#circles::before {
		background-attachment: scroll;
	}
	
	.circle {
		width: 20rem;
		height: 20rem;
		border-radius: 10rem;
	}
	
	.circle > div {
		height: 10rem;
		width: 20rem;
		font-size: 2.6rem;
	}
	
	section p:nth-child(5) {
		display: block;
		text-align: center;
	}
	
	section img {
		width: 26.8rem;
		height: 25.2rem;
		bottom: 3rem;
	}
	
	section #border {
		width: 26.8rem;
		height: 25.2rem;
	}
}

@media (min-width: 1025px) and (max-width: 1200px) {
	#circles::before {
		background-attachment: scroll;
	}
	
	.circle > div {
		font-size: 3.5rem;
	}
	
	section p:nth-child(5) {
		display: block;
		text-align: center;
	}
	
	section img {
		width: 27.8rem;
		height: 26.2rem;
		bottom: 1rem;
	}
	
	section #border {
		width: 27.8rem;
		height: 26.2rem;
		bottom: 4rem;
	}
}

@media (min-width: 1600px) {
	html {
		font-size: 80%;
	}
}


@font-face {
  font-family:"SilverBellyButton";
  src: url("SilverBellyButton.ttf") format("truetype");
}